.header_banner {
  width: 100%;
  background-size: cover;
  background-image: url("../../../img/svgs/low-poly-grid-haikei.svg");
  
  /* background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  );  
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );  */

  background-position: 50% 35%;
  background-repeat: no-repeat;
  height: calc(100vh - 10em);
}
