.header__banner {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: calc(100vh - 10em);
}



.header__banner--eletrico {
  background-image: url("../../../img/svgs/symbol-scatter-haikei.svg");
}