.header__banner {
  width: 100%;
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  height: calc(100vh - 10em);
}



.header__banner--eletrico {
  background-image: url("../../../img/svgs/low-poly-grid-haikei.svg");
}