body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card__method {
    border-radius: 5px;
    padding: .7em;
    margin-bottom: .5em;
    background-color: rgb(223, 121, 25);
    width: 100%;
    color: white;
    border: none;
    transition: filter ease .5s;
}

#stripe {
    background-color: rgb(60, 60, 152);
}

h2.card-title {
    margin: auto;
    margin-bottom: .5em;
}

.main-card__method:hover {
    filter: brightness(90%);

}

.content {
    background-image: url('/public/img/svgs/blob-scene-haikei.svg');
    background-position: 10% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}