<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/cursos/index.css" />
    <link rel="shortcut icon" href="../public/assets/images/favicon.ico" type="image/x-icon">
    <title>IPPIE</title>
  </head>
  <body>
    <section class="first_header">
      <header class="cabecalho">
        <span class="cabecalho_logo">
          <img
            class="logo_img"
            src="../public/assets/images/logo escola com fundo 500 x 500.jpg"
            alt=""
            loading="lazy" />
          <a class="logo_text" href="">IPPIE</a>
        </span>
        <ul class="cabecalho_list">
          <li class="cabecalho_list_item">Teste</li>
          <li class="cabecalho_list_item">Teste</li>
          <li class="cabecalho_list_item">Teste</li>
        </ul>
      </header>
      <div alt="" class="header_banner">
        <span class="header_banner_path">Eletricidade
          <span style="padding: 0 0.2em">&rAarr;</span> Eletricidade de Baixa Tensão
        </span>
        <div class="curso-desc">
          <img src="../public/img/icons/eletrico.png" alt="" class="curso-desc_img" loading="lazy">
          <div class="curso-desc_text">
            <span>Curso de</span>
            <h2>Eletricidade de Baixa Tensão</h2>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>