<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/style-global.css">
    <link rel="stylesheet" href="../public/css/cursos/index.css" />
    <link rel="shortcut icon" href="../public/assets/images/favicon.png" type="image/x-icon">
    <title>Eletricidade de Baixa Tensão | IPPIE</title>
  </head>
  <body>
    <section class="first_header">
      <header class="cabecalho">
        <span class="cabecalho_logo">
          <img
            class="logo_img"
            src="../public/assets/images/logo escola com fundo 500 x 500.jpg"
            alt=""
          />
          <a class="logo_text" href="">IPPIE</a>
        </span>
        <ul class="cabecalho_list">
          <li class="cabecalho_list_item">Teste</li>
          <li class="cabecalho_list_item">Teste</li>
          <li class="cabecalho_list_item">Teste</li>
        </ul>
      </header>
      <div alt="" class="header__banner header__banner--eletrico">
        <span class="header_banner_path"
          >Eletricidade
          <span style="padding: 0 0.2em">&rAarr;</span> Eletricidade de Baixa
          Tensão
        </span>
        <div class="curso-desc">
          <img
            src="../public/img/icons/painel-eletrico.png"
            alt=""
            class="curso-desc_img"
          />
          <div class="curso-desc_text">
            <span>Curso de</span>
            <h2>Eletricidade de Baixa Tensão</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="course-information">
      <div class="course-advantages">
        <div class="course-goals">
          <h2>Objetivos do Curso</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ab architecto blanditiis consequatur accusantium nisi, voluptate sunt non similique esse optio voluptas expedita officiis, eveniet commodi perferendis eaque fuga itaque!
            Eligendi quo, commodi nobis voluptatum corrupti deleniti maxime officia incidunt consectetur vel exercitationem a deserunt ab, reiciendis tempore maiores libero, inventore impedit veniam rerum modi sequi itaque voluptatem? Quas, recusandae?
            A, perspiciatis! Dolorum aspernatur ullam saepe fugit voluptatem animi, enim qui porro eligendi dolore! Modi, et? Amet, dolores nulla unde minus modi dolore aliquam nobis ratione voluptates doloremque architecto? Placeat!
            Beatae laborum facilis, eligendi, esse obcaecati corrupti porro blanditiis ullam molestiae incidunt quisquam aspernatur a. Quas fugiat cupiditate alias est iste molestias quasi voluptatibus totam, nesciunt saepe, nam dignissimos repellat.
          </p>
        </div>
        <div class="profissional-outings">
          <h2>Saídas Profissionais</h2>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
          </ul>
        </div>
        <div class="course-duration">
          <h2>Duração do curso</h2>
          <p>O curso tem a duração de cinco (3) anos lectivos.</p>
        </div>
      </div>
      <aside class="other-courses">
        <h2>Outros cursos</h2>
        <ul class="other-courses__list">
          <li class="other-courses__item">
            <div class="course-category">

            </div>
          </li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
          <li class="other-courses__item"></li>
        </ul>
      </aside>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><i class="fa fa-copyright"></i>
              <a href="#" rel="sponsored" target="_parent">Endereço</a>
              Viana-Kapalanga, Setor 18 via expressa cacuaco-viana junto as unidades policias da DII (ex Bet) e guarda fronteira
            <br>
             Numero : <a href="#" rel="sponsored" target="_blank">931 512 924 </a> | <a href="#" rel="sponsored" target="_blank">911 866 758</a>
            
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>