<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Instituição Privada ippie</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../public/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../public/assets/css/style-global.css">
    <link rel="stylesheet" href="../public/assets/css/owl.css">
    <link rel="stylesheet" href="../public/assets/css/lightbox.css">

  </head>

<body>
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>LOGO</em> Escola</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li class="has-submenu"><a href="#section2">Sobre Nós</a>
          <ul class="sub-menu">
            <li><a href="#section2">Quem nos somos?</a></li>
            <li><a href="#section3">O que fazemos?</a></li>
            <li><a href="#section3">Como trabalhamos?</a></li>
            <li><a href="#" rel="sponsored" class="external">MATRICULA-SE</a></li>
          </ul>
        </li>
        <li><a href="#section4">Cursos</a></li>
        <!-- <li><a href="#section5">media-is</a></li> -->
        <li><a href="#section6">Contacto</a></li>
        <li><a href="#" class="external">MATRICULA-SE</a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1" >
           <img src="../public/assets/images/img-schools/eletricidade-2.png" alt="error-loading" class="img-bg-el" loading="lazy">
 

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Instituto Politecnico Privado industrial Evolução</h6>
              <h2>Matricula e inscrições Abertas <em> 6.500 AKZ </em> </h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">DESCUBRA MAIS</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>Todos os cursos</h4>
              </div>
              <div class="content-hide">
                <p></p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section2">Mais informações</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Salas de Aulas</h4>
              </div>
              <div class="content-hide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, odit alias perspiciatis quas nemo, reiciendis adipisci totam iure accusantium iusto quaerat quae molestias sed voluptates eaque doloremque hic voluptatum nisi.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section3">Detalhes</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Encontro Real</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section4">Ler mais</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Por que escolher a Escola Superior?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Melhor Educação</a></li>
              <li><a href='#tabs-2'>Alta Administração</a></li>
              <li><a href='#tabs-3'>Nossos Laboratorios</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../public/assets/images/img-schools/melhores-educadores.jpg" alt="" loading="lazy">
                  </div>
                  <div class="col-md-6">
                    <h4>Melhor Educação</h4>
                    <p>Intituto Politecnico Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis assumenda soluta culpa, quos aspernatur sint sunt est iusto totam quam!<a href="#" target="_parent" rel="sponsored">a little donation</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, officiis!</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../public/assets/images/img-schools/mecanica.jpg" alt="" loading="lazy">
                  </div>
                  <div class="col-md-6">
                    <h4>Mecanica</h4>
                    <p>Você pode modificar esse layout HTML editando o conteúdo e adicionando mais páginas conforme necessário. Como este modelo possui opções para adicionar menus suspensos, você pode colocar muitas páginas HTML.</p> 
                    <p>Talvez você comece, para que as pontas da pá sejam grandes, a dor esteja livre do ódio das lembranças e, às vezes, até mais do que o gato não fazia antes.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../public/assets/images/img-schools/laboratorio.jpg" alt="" loading="lazy">
                  </div>
                  <div class="col-md-6">
                    <h4>Laboratorio de Informatica</h4>
                    <p>Você NÃO tem permissão para redistribuir este arquivo ZIP de modelo em qualquer site de coleção de modelos. No entanto, você pode usar este modelo para converter em um tema específico para qualquer tipo de plataforma CMS, como o WordPress. Para mais informações, você deve<a rel="nofollow" href="#" target="_parent">contacto nos</a> now.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>Faça a tua <em>matricula 6.500kz</em>  garanta ja a tua sala</h4>
              <div class="counter">

                <div class="days">
                  <div class="value">00</div>
                  <span>Dia</span>
                </div>

                <div class="hours">
                  <div class="value">00</div>
                  <span>Horas</span>
                </div>

                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutos</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Segundos</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6>Registra-se para receber <em>Notificações</em> da Instituição</h6>
            </div>
            <form id="contact" action="" method="get">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">OBTÊ-LO AGORA</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Escolha seu curso</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="../public/assets/images/img-schools/mecanica.jpg" alt="Course #1" loading="lazy">
            <div class="down-content">
              <h4>Curso de Mecanica Auto</h4>
               <p>Você pode obter imagens e vídeos gratuitos para seus sites visitando Unsplash, Pixabay e Pexels.</p>
              <div class="author-image">
                <img src="../public/assets/images/profile.png" alt="Author 1" loading="lazy">
              </div>
              <div class="text-button-pay">
                <a href="#">6.500 AKZ<i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/assets/images/img-schools/eletric.jpg" alt="Course #2" loading="lazy">
            <div class="down-content">
              <h4>Curso de Eletricidade</h4>
               Cada uma das corridas é dito ser o veículo a escolher, que é o fim de semana para os apartamentos. Mecenas a lectus ac ipsum porta.</p>
              <div class="author-image">
                <img src="../public/assets/images/profile.png" alt="Author 2" loading="lazy">
              </div>
              <div class="text-button-free">
                <a href="#">6.500 AKZ <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/assets/images/img-schools/mecanic-auto.jpg" alt="Course #3" loading="lazy">
            <div class="down-content">
              <h4>Curso de Mecanica</h4>
               <p>Ultricies Pellentesque diam magna, auctor cursus lectus pretium nec. Mecenas termina para a caixa.</p>
              <div class="author-image">
                <img src="../public/assets/images/profile.png" alt="Author 3" loading="lazy">
              </div>
              <div class="text-button-pay">
                <a href="#">6.500 AKZ<i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../public/assets/images/courses-04.jpg" alt="Course #4" loading="lazy">
            <div class="down-content">
              <h4>Brevimente Disponivel</h4>
               <p>Lorem ipsum alias enim officia harum vel laborum sit, doloremque excepturi voluptas nobis. Velit omnis corporis eum?</p>
              <div class="author-image">
                <img src="../public/assets/images/profile.png" alt="Author 4" loading="lazy">
              </div>
              <div class="text-button-free">
                <a href="#">6.500 AKZ <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>NOSSA APRESENTAÇÃO É PARA VOCÊ</span>
            <h4>Assista ao vídeo para saber mais <em>sobre o Instituto Politecnico</em></h4>
            <p>Lorem, ipsum.<a rel="nofollow" href="#" target="_parent">Lorem ipsum dolor sit amet.</a> para detalhes.
            <br><br>Talvez você comece, para que as pontas da pá sejam grandes, a dor esteja livre do ódio das lembranças e, às vezes, até mais do que o gato não fazia antes.</p>
            <div class="main-button"><a rel="nofollow" href="#" target="_parent">REGISTRA-SE</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>Bem vindo</h4>
            </div>
            <figure>
              <a href="https://www.youtube.com/watch?v=8gKJ3_Hm3dM" class="play"><img src="../public/assets/images/img-schools/escola.jpg" loading="lazy"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Vamos manter contato</h2>
          </div>
        </div>
        <div class="col-md-6">
                    
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Enviar mensagem agora</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15767.24576946558!2d13.3408652134488!3d-8.897115548175085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sao!4v1657908430287!5m2!1sen!2sao" width="100%" height="422" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i>
            <a href="#" rel="sponsored" target="_parent">Endereço</a>
            Viana-Kapalanga, Setor 18 via expressa cacuaco-viana junto as unidades policias da DII (ex Bet) e guarda fronteira
          <br>
           Numero : <a href="#" rel="sponsored" target="_blank">931 512 924 </a> | <a href="#" rel="sponsored" target="_blank">911 866 758</a>
          
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../public/assets/js/isotope.min.js"></script>
    <script src="../public/assets/js/owl-carousel.js"></script>
    <script src="../public/assets/js/lightbox.js"></script>
    <script src="../public/assets/js/tabs.js"></script>
    <script src="../public/assets/js/video.js"></script>
    <script src="../public/assets/js/slick-slider.js"></script>
    <script src="../public/assets/js/custom.js"></script>
    <script src="../public/assets/js/scriptAnimate.js"></script>
</body>
</html>