<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/public/assets/css/style-global.css" />
    <link rel="stylesheet" href="/public/css/cursos/index.css" />
    <link
      rel="shortcut icon"
      href="/public/assets/images/favicon.png"
      type="image/x-icon"
    />
    <title>Técnico de Informática | IPPIE</title>
  </head>
  <body>
    <section class="first_header tec-informatica">
      <header class="cabecalho">
        <span class="cabecalho_logo">
          <a rel="prev" href="/"
            ><img
              class="logo_img"
              src="/public/assets/images/logo-da-escola.png"
              alt=""
            />
            <a class="logo_text" rel="prev" href="/">IPPIE</a></a
          >
        </span>
        <button id="btn-menu-mobile">
          MENU
          <span id="humburger"></span>
        </button>
        <ul class="cabecalho_list">
          <li class="cabecalho_list_item"><a href="/" rel="prev">HOME</a></li>
          <li class="cabecalho_list_item"><a href="/#porquenos" rel="prev">SOBRE NÓS</a></li>
          <li class="cabecalho_list_item"><a href="/#cursos" rel="prev">CURSOS</a></li>
        </ul>
      </header>
      <div alt="" class="header__banner header__banner--tec-informatica">
        <span class="header_banner_path"
          >Informática <span style="padding: 0 0.2em">&rAarr;</span> Técnico de
          Informática
        </span>
        <div class="curso-desc">
          <img
            src="/public/img/icons/data-science.png"
            alt=""
            class="curso-desc_img"
          />
          <div class="curso-desc_text">
            <span>Curso de</span>
            <h2>Técnico de Informática</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="course-information">
      <div class="course-advantages">
        <div class="course-goals">
          <h2>Objetivos do Curso</h2>
          <p>
            Formar profissionais que aptos a realizar configurações de sistemas de informática, a instalar equipamentos e a verificar as causas de falhas na programação de computadores. Esse profissional pode trabalhar estabelecimentos do ramo ou prestar atendimento por conta própria.
          </p>
        </div>
        <div class="profissional-outings">
          <h2>Saídas Profissionais</h2>
          <ul>
            <li>Analista programador</li>
            <li>Técnico de redes</li>
            <li>Técnico de software e hardware</li>
            <li>Administrador de sistemas e redes</li>
            <li>Trabalhador por conta própria</li>
            <li>Gestor de sistemas informáticos</li>
            <li>Empresas fornecedoras de soluções informáticas de hardware</li>
            <li>Empresas de manutenção de hardware e vendedores de equipamentos informáticos;</li>
            <li>Empresas e instituições detentoras de equipamentos e sistemas informáticos</li>
          </ul>
        </div>
        <div class="course-duration">
          <h2>Duração do curso</h2>
          <p>O curso tem a duração de quatro (4) anos lectivos.</p>
        </div>
      </div>
      <aside class="other-courses">
        <h2>Outros cursos</h2>
        <ul class="other-courses__list">
          <li class="other-courses__item">
            <div class="course-category">
              <h3>Informatica</h3>
              <ul>
                <li><a rel="next" class="active" href="/cursos/informatica-tecnica">Técnico de Informática</a></li>
                <li><a rel="next" href="/cursos/gestao-sistemas">Gestão de Sistemas Informáticos</a></li>
              </ul>
            </div>
          </li>
          <li class="other-courses__item">
            <div class="course-category">
              <h3>Mecânica</h3>
              <ul>
                <li><a rel="next" href="/cursos/maquinas-motores">Máquinas e Motores</a></li>
                <li><a rel="next" href="/cursos/metalomecanica-torneiro">Metalomecânica e Torneiro</a></li>
              </ul>
            </div>
          </li>
          <li class="other-courses__item">
            <div class="course-category">
              <h3>Construção Civil</h3>
              <ul>
                <li><a rel="next" href="/cursos/desenhador-projetista">Desenhador Projetista</a></li>
              </ul>
            </div>
          </li>
          <li class="other-courses__item">
            <div class="course-category">
              <h3>Eletricidade</h3>
              <ul>
                <li><a rel="next" href="/cursos/instalacoes-eletricas">Energias e Instalações Elétricas</a></li>
                <li><a rel="next" href="/cursos/eletricidade-baixa-tensao">Eletricidade de Baixa Tensão</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              <i class="fa fa-copyright"></i>
              <a href="#" rel="sponsored" target="_parent">Endereço</a>
              Viana-Kapalanga, Setor 18 via expressa cacuaco-viana junto as
              unidades policias da DII (ex Bet) e guarda fronteira
              <br />
              Numero :
              <a href="#" rel="sponsored" target="_blank">931 512 924 </a> |
              <a href="#" rel="sponsored" target="_blank">911 866 758</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/public/assets/js/responsive-menu.js"></script>
  </body>
</html>
